<a href="https://colab.research.google.com/github/Adejayan/hello-world/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# convention for importing numpy
import pandas as pd

days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days) # prints

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [9]:
# creating series with a numpy array
days_list = pd.array(['Monday', 'Tuesday', 'Wednesday'])

numpy_days = pd.Series(days_list)
print(numpy_days) # prints

0       Monday
1      Tuesday
2    Wednesday
dtype: string

In [15]:
# using strings as index
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'], index = ['a', 'b', 'c'])

print(days) # prints

a       Monday
b      Tuesday
c    Wednesday
dtype: object

**Accessing Series using Specified Index**

In [23]:
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days) # prints

print(days[0])
print(days[1:])

0       Monday
1      Tuesday
2    Wednesday
dtype: object
Monday
1      Tuesday
2    Wednesday
dtype: object

**DataFrame**

In [24]:
print(pd.DataFrame())
# prints an empty dataframe

Empty DataFrame
Columns: []
Index: []

In [35]:
# create a dataframe from a dictionary
df_dict = {'Country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'], 'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'], 'Population': [10000, 8500, 35000, 12000], 'Age': [60, 70, 80, 75]}

df = pd.DataFrame(df_dict, index=[2, 4, 6, 8])
print(df)

df_list = {'Country', 'Capital', 'Population', 'Age'}
df1 = pd.DataFrame(df_list, index = [2, 4, 6, 8])
print(df1)

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75
            0
2  Population
4         Age
6     Country
8     Capital

_Accessors in Pandas_

In [37]:
# select the row in the at index 3
df.iloc[3]
print(df.iloc[3])

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

In [38]:
# select row with index label 6
df.loc[6]
print(df.loc[6])

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [39]:
# select the Capital column
df['Capital']
print(df['Capital'])

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [40]:
df.at[6, 'Country']
print(df.at[6, 'Country'])

Nigeria

In [41]:
df.iat[2, 0]
print(df.iat[2,0])

Nigeria

In [43]:
# select the row in the at index 3
df.iloc[3]
print(df.iloc[3])

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

In [44]:
# select the row with index label 6
df.loc[6]
print(df.loc[6])

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [45]:
# select the Capital column
df['Capital'] 
print(df['Capital'])

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [46]:
df.at[6, 'Country']
print(df.at[6, 'Country'])

Nigeria

In [47]:
df.iat[2, 0]
print(df.iat[2, 0])

Nigeria

_Descriptive Statistics_

In [48]:
df['Population'].sum()
print(df['Population'].sum())

65500

In [49]:
df.describe()
print(df.describe())

         Population        Age
count      4.000000   4.000000
mean   16375.000000  71.250000
std    12499.166639   8.539126
min     8500.000000  60.000000
25%     9625.000000  67.500000
50%    11000.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000

_The Missing Enigma_

In [59]:
df_dict2 = {'Name': ['James', 'Yemen', 'Caro', np.nan], 
            'Profession': ['Researcher', 'Artist', 'Doctor', 'Writer'],
            'Experience': [12, np.nan, 10, 8], 
            'Height': [pd.nan, 175, 180, 150]}

new_df = pd.DataFrame(df_dict2)
print(df_dict2)

NameError: ignored

In [61]:
# remove rows with missing values
new_df.dropna()
print(new_df.dropna())

NameError: ignored